## How to select dataframe subsets from multivariate data

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100) # Show all columns when looking at dataframe

In [3]:
# Download NHANES 2015-2016 data
df = pd.read_csv("nhanes_2015_2016.csv")

In [4]:
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

### Keep only body measures columns, so only columns with "BMX" in the name

In [5]:
# get columns names
col_names = df.columns
col_names

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [6]:
# One way to get the column names we want to keep is simply by copying from the above output and storing in a list
keep = ['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST']

In [7]:
df[keep]

      BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0      94.8  184.5    27.8    43.3     43.6     35.9     101.1
1      90.4  171.4    30.8    38.0     40.0     33.2     107.9
2      83.4  170.1    28.8    35.6     37.0     31.0     116.5
3     109.8  160.9    42.4    38.5     37.7     38.3     110.1
4      55.2  164.9    20.3    37.4     36.0     27.2      80.4
5      64.4  150.0    28.6    34.4     33.5     31.4      92.9
6      76.6  165.4    28.0    38.8     38.0     34.0      86.6
7      64.5  151.3    28.2    34.1     33.1     31.5      93.3
8      72.4  166.1    26.2     NaN      NaN      NaN       NaN
9     108.3  179.4    33.6    46.0     44.1     38.5     116.0
10     86.2  176.7    27.6    41.0     38.0     33.6     104.3
11     76.2  177.8    24.1    43.9     37.8     33.0      90.1
12     71.2  163.6    26.6    37.3     35.7     31.0      90.7
13    117.8  164.1    43.7    34.8     38.6     42.7     123.0
14     97.4  183.8    28.8    42.5     40.6     34.2     106.3
15     80.5  150.8    35.4    31.6     32.7     33.7     113.5
16    100.8  175.4    32.8    40.7     38.6     35.9     104.6
17     61.8  156.4    25.3    37.0     35.5     29.6      79.5
18    107.9  168.5    38.0    40.1     39.0     41.6     114.8
19     59.0  149.9    26.3    32.7     33.3     30.4      88.9
20     72.8  170.7    25.0    42.8     40.0     31.5      96.6
21     67.7  149.8    30.2    33.4     36.2     30.3     108.4
22     77.7  160.2    30.3    32.7     37.6     30.7     106.8
23     56.6  157.5    22.8    34.5     31.0     28.0      83.0
24     69.0  166.1    25.0    40.7     37.1     31.0      93.5
25     87.8  160.7    34.0    41.4     33.7     32.1     103.6
26     73.7  170.7    25.3    41.2     36.0     29.7      86.2
27     75.6  145.2    35.9    31.0     33.1     36.0     108.0
28    102.1  182.2    30.8    41.8     38.9     37.8     107.7
29     77.4  152.0    33.5    33.4     34.6     34.9     103.1
...     ...    ...     ...     ...      ...      ...       ...
5705    NaN  165.9     NaN    37.0     38.0     30.0      95.0
5706   88.9  165.9    32.3    36.7     38.8     34.2     114.2
5707   76.9  169.3    26.8    41.8     35.9     29.8      79.0
5708   54.5  152.6    23.4    36.3     32.7     26.6      80.2
5709   75.9  177.8    24.0    40.5     39.8     30.2      92.0
5710   92.7  156.4    37.9    31.5     35.5     33.6     122.0
5711   67.9  164.6    25.1    33.7     37.0     31.5      90.7
5712  101.8  157.6    41.0    36.5     34.5     37.1     127.0
5713   75.7  177.1    24.1    43.0     39.7     31.3      94.6
5714   74.9  169.6    26.0    40.5     39.3     31.5      92.5
5715   69.0  169.6    24.0    38.9     37.5     27.6      91.5
5716  119.6  149.0    53.9     NaN     35.5     44.7       NaN
5717   81.4  170.1    28.1    41.7     38.2     33.9      93.6
5718   89.0  174.3    29.3    42.4     40.6     39.5      97.0
5719   81.9  147.6    37.6    35.0     33.0     38.2     122.5
5720   77.6  179.0    24.2    42.3     41.5     31.7      94.2
5721   92.2  161.7    35.3    41.5     37.5     38.9     110.9
5722   62.2  167.4    22.2    39.8     37.7     28.5      83.3
5723   57.8  157.0    23.4    32.0     35.5     26.8      90.4
5724   58.2  166.9    20.9    37.1     35.3     26.9      80.8
5725  101.2  180.9    30.9    43.7     43.0     41.3      99.0
5726   78.7  156.9    32.0    31.5     38.0     33.7     107.5
5727   64.8  151.9    28.1    32.2     32.6     28.7     101.1
5728   89.5  164.9    32.9    40.0     38.0     39.0     101.0
5729   39.2  136.5    21.0    33.6     29.7     23.8      75.4
5730   59.1  165.8    21.5    38.2     37.0     29.5      95.0
5731  112.1  182.2    33.8    43.4     41.8     42.3     110.2
5732   71.7  152.2    31.0    31.3     37.5     28.8       NaN
5733   78.2  173.3    26.0    40.3     37.5     30.6      98.9
5734   58.3  165.0    21.4    38.2     33.5     26.2      72.5

[5735 rows x 7 columns]

In [0]:
# Another way to get only column names that include 'BMX' is with list comprehension
# [keep x for x in list if condition met]
[column for column in col_names if 'BMX' in column]

In [8]:
keep = [column for column in col_names if 'BMX' in column]

In [9]:
# use [] notation to keep columns
df_BMX = df[keep]

In [10]:
df_BMX.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

There are two methods for selecting by row and column. 
# link for pandas cheat sheets
* df.loc[row labels or bool, col labels or bool]
* df.iloc[row int or bool, col int or bool]

### [From pandas docs](https://pandas.pydata.org/pandas-docs/stable/indexing.html]):  
* [ ] column indexing
* .loc is primarily label based, but may also be used with a boolean array.   
* .iloc is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.

In [11]:
df.loc[:, keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [12]:
index_bool = np.isin(df.columns, keep)

In [13]:
index_bool

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False])

In [14]:
df.iloc[:,index_bool].head() # Indexing with boolean list

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

### Selection by conditions

In [15]:
# Lets only look at rows who 'BMXWAIST' is larger than the median
waist_median = pd.Series.median(df_BMX['BMXWAIST']) # get the median of 'BMXWAIST'

In [16]:
waist_median

98.3

In [0]:
df_BMX[df_BMX['BMXWAIST'] > waist_median].head()

In [17]:
# Lets add another condition, that 'BMXLEG' must be less than 32
condition1 = df_BMX['BMXWAIST'] > waist_median
condition2 = df_BMX['BMXLEG'] < 32
df_BMX[condition1 & condition2].head() # Using [] method
# Note: can't use 'and' instead of '&'

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [18]:
df_BMX.loc[condition1 & condition2, :].head() # Using df.loc[] method
# note that the conditiona are describing the rows to keep

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [19]:
# Lets make a small dataframe and give it a new index so can more clearly see the differences between .loc and .iloc
tmp = df_BMX.loc[condition1 & condition2, :].head()
tmp.index = ['a', 'b', 'c', 'd', 'e'] # If you use different years than 2015-2016, this my give an error. Why?
tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8    35.4    31.6     32.7     33.7     113.5
b   75.6  145.2    35.9    31.0     33.1     36.0     108.0
c   63.7  147.9    29.1    26.0     34.0     31.5     110.0
d  105.9  157.7    42.6    29.2     35.0     40.7     129.1
e   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [20]:
tmp.loc[['a', 'b'],'BMXLEG']

a    31.6
b    31.0
Name: BMXLEG, dtype: float64

In [21]:
tmp.iloc[[0, 1],3]

a    31.6
b    31.0
Name: BMXLEG, dtype: float64

### Common errors and how to read them

In [22]:
tmp[:, 'BMXBMI']

TypeError: '(slice(None, None, None), 'BMXBMI')' is an invalid key

### Problem
The above gives: TypeError: unhashable type: 'slice' 

The [ ] method uses hashes to identify the columns to keep, and each column has an associated hash. A 'slice' (a subset of rows and columns) does not have an associated hash, thus causing this TypeError.

In [23]:
tmp.loc[:, 'BMXBMI']

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [24]:
tmp.loc[:, 'BMXBMI'].values

array([35.4, 35.9, 29.1, 42.6, 35.2])

In [25]:
tmp.iloc[:, 'BMXBMI']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

### Problem
The above gives: ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

'BMXBMI' is not an integer that is less than or equal number of columns -1, or a list of boolean values, so it is the wrong value type.

In [26]:
tmp.iloc[:, 2]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [27]:
tmp.loc[:, 2]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

### Problem
The above code gives: ```TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>```

2 is not one of the labels (i.e. column names) in the dataframe

In [28]:
# Here is another example of using a boolean list for indexing columns
tmp.loc[:, [False, False, True] +[False]*4]

   BMXBMI
a    35.4
b    35.9
c    29.1
d    42.6
e    35.2

In [29]:
tmp.iloc[:, 2]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [30]:
# We can use the .loc and .iloc methods to change values within the dataframe
tmp.iloc[0:3,2] = [0]*3
tmp.iloc[:,2]

a     0.0
b     0.0
c     0.0
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [31]:
tmp.loc['a':'c','BMXBMI'] = [1]*3
tmp.loc[:,'BMXBMI']

a     1.0
b     1.0
c     1.0
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [32]:
# We can use the [] method when changing all the values of a column
tmp['BMXBMI'] = range(0, 5)
tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7       3    29.2     35.0     40.7     129.1
e   77.5  148.3       4    30.5     34.0     34.4     107.6

In [33]:
# We will get a warning when using the [] method with conditions to set new values in our dataframe
tmp[tmp.BMXBMI > 2]['BMXBMI'] = [10]*2 # Setting new values to a copy of tmp, but not tmp itself
tmp
# You can see that the above code did not change our dataframe 'tmp'.

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7       3    29.2     35.0     40.7     129.1
e   77.5  148.3       4    30.5     34.0     34.4     107.6

In [34]:
# The correct way to do the above is with .loc or .iloc
tmp.loc[tmp.BMXBMI > 2, 'BMXBMI']  = [10]*2
tmp # Now contains the chances

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7      10    29.2     35.0     40.7     129.1
e   77.5  148.3      10    30.5     34.0     34.4     107.6